<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.CommentDiaryMapper">
<!-- 다이어리 댓글 등록 -->
	<insert id="insertCommentDiary" parameterType="CommentDiary">
		INSERT INTO COMMENT_DIARY(COMMENT_DIARY_NO,DIARY_NO,CONTENT,MY_ID,WRITE_DATE)
		VALUES
		(COMMENT_DIARY_SEQ.NEXTVAL,#{diaryNo},#{content},#{myId},SYSDATE)
	</insert>


<!-- 다이어리 댓글 불러오기 -->
	<select id="selectCommentDiary" resultMap="CommentDiaryResult">
		SELECT * 
		FROM MEMBER M, COMMENT_DIARY C
 		WHERE C.DIARY_NO = #{diaryNo} AND M.ID = C.MY_ID 
  	</select>

	<resultMap id="CommentDiaryResult" type="CommentDiary">
		<result property="commentDiaryNo" column="COMMENT_DIARY_NO" />
		<result property="diaryNo" column="DIARY_NO" />
		<result property="content" column="CONTENT" />
		<result property="myId" column="MY_ID" />
		<result property="writeDate" column="WRITE_DATE" />
		<association property="member" javaType="MEMBER">
			<result property="id" column="ID" />
			<result property="name" column="NAME" />
		</association>
	</resultMap>
</mapper>
