<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.GalleryMapper">
	<insert id="insert" parameterType="Gallery">
		    <selectKey order="BEFORE" resultType="Integer" keyProperty="galleryNo">
      		  SELECT GALLERY_SEQ.NEXTVAL FROM DUAL
    		</selectKey>
		INSERT INTO
		GALLERY(GALLERY_NO,TITLE,ID,WRITE_DATE,CONTENT,AUTHORITY_CODE)
		VALUES
		(#{galleryNo},#{title},#{id},#{writeDate},#{content},#{authorityCode})
	</insert>
	
	<update id="update" parameterType="Gallery">
		UPDATE GALLERY SET TITLE=#{title}, CONTENT=#{content}, AUTHORITY_CODE=#{authorityCode}
		WHERE GALLERY_NO=#{galleryNo}
	</update>

	<update id="updateImg" parameterType="GalleryImg">
		UPDATE GALLERY_IMG SET GALLERY_PATH=#{galleryPath}
		WHERE GALLERY_IMG_NO=#{galleryImgNo}
	</update>

	<insert id="insertImg" parameterType="GalleryImg">
		INSERT INTO
		GALLERY_IMG(GALLERY_NO, GALLERY_IMG_NO, GALLERY_PATH)
		VALUES
		(#{galleryNo},GALLERY_IMG_SEQ.NEXTVAL,#{galleryPath})
		
	</insert>

	<select id="select" parameterType="Integer" resultMap="galleryMap">
		SELECT * FROM GALLERY WHERE GALLERY_NO=#{galleryNo}
	</select>
	
	<select id="selectImgList" parameterType="integer" resultMap="galleryImgMap">
		SELECT * FROM GALLERY_IMG WHERE GALLERY_NO = #{galleryNo}
	</select>

	<!-- 전체 리스트 -->
	<select id="selectGalleryList" parameterType="Map" resultMap="galleryMap" >
		SELECT * FROM (
			SELECT ROWNUM R, A.* FROM(	
				SELECT *
		      	 FROM GALLERY G
		      	 WHERE G.ID = #{id}
		      	 ORDER BY G.GALLERY_NO DESC
			) A	)
		WHERE R BETWEEN #{startRow} AND #{count}
	</select>
	
	<!-- 일촌 리스트 -->
	<select id="selectGalleryFriendList" parameterType="Map" resultMap="galleryMap" >
		SELECT * FROM (
			SELECT ROWNUM R, A.* FROM(	
				SELECT *
		      	 FROM GALLERY G
		      	 WHERE G.ID = #{id} and (AUTHORITY_CODE = 1 OR AUTHORITY_CODE = 2)
		      	 ORDER BY G.GALLERY_NO DESC
			) A	)
		WHERE R BETWEEN #{startRow} AND #{count}
	</select>
	
	<!-- 비공개 리스트 -->
	<select id="selectGalleryPrivateList" parameterType="Map" resultMap="galleryMap" >
		SELECT * FROM (
			SELECT ROWNUM R, A.* FROM(	
				SELECT *
		      	 FROM GALLERY G
		      	 WHERE G.ID = #{id} and AUTHORITY_CODE = 1
		      	 ORDER BY G.GALLERY_NO DESC
			) A	)
		WHERE R BETWEEN #{startRow} AND #{count}
	</select>
	
	
	<!-- 사진첩 전체공개 -->
	<select id="selectGalleryCount" resultType="integer">
		SELECT COUNT(*) FROM
		GALLERY
		WHERE ID =#{id}
	</select>
	
	<!-- 사진첩 일촌공개 -->
	<select id="selectGalleryFriendCount" resultType="integer">
		SELECT COUNT(*) FROM
		GALLERY
		WHERE ID =#{id} and (AUTHORITY_CODE = 1 OR AUTHORITY_CODE = 2)
	</select>
	
	<!-- 사진첩 비공개 -->
	<select id="selectGalleryPrivateCount" resultType="integer">
		SELECT COUNT(*) FROM
		GALLERY
		WHERE ID =#{id} and (AUTHORITY_CODE = 1)
	</select>
	
	<resultMap id="galleryImgMap" type="GalleryImg">
		<result property="galleryNo" column="gallery_no" />
		<result property="galleryImgNo" column="gallery_img_no" />
		<result property="galleryPath" column="gallery_path" />
	</resultMap>

	<resultMap id="galleryMap" type="Gallery">
		<result property="galleryNo" column="gallery_no" />
		<result property="title" column="title" />
		<result property="id" column="id" />
		<result property="writeDate" column="write_date" />
		<result property="content" column="content" />
		<result property="authorityCode" column="authority_code" />
	</resultMap>

</mapper>