<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.GalleryMapper">
	<insert id="insert" parameterType="Gallery"
		useGeneratedKeys="true" keyProperty="galleryNo"
		keyColumn="GALLERY_NO">
	INSERT INTO GALLERY(GALLERY_NO,TITLE,ID,WRITE_DATE,CONTENT,GALLERY_PATH,AUTHORITY_CODE)
	VALUES
	(GALLERY_SEQ.NEXTVAL,#{title},#{id},#{writeDate},#{content},#{galleryPath},#{authorityCode})
	</insert>
	
	<select id="selectGalleryCount" resultType="integer">
		SELECT COUNT(*) FROM GALLERY
	</select>
	
	<select id="select" parameterType="integer"
							resultMap="galleryMap">
	SELECT * FROM GALLERY WHERE GALLERY_NO=#{galleryNo}				
	</select>
	
	<select id="selectList" parameterType="Map"
							resultMap="galleryMap">
<!-- 	SELECT * FROM GALLERY ORDER BY GALLERY_NO DESC LIMIT #{startRow}, #{count}	 -->

	SELECT *
	FROM (SELECT ROWNUM R, A.* FROM
	(SELECT * FROM GALLERY
	ORDER BY GALLERY_NO DESC) A)
	WHERE R BETWEEN #{startRow} AND #{count}
	
	</select>
	
	<resultMap type="Gallery" id="galleryMap">
		<result column="gallery_no" property="galleryNo"/>
		<result column="title" property="title"/>
		<result column="id" property="id"/>
		<result column="write_date" property="writeDate"/>
		<result column="content" property="content"/>
		<result column="gallery_path" property="galleryPath"/>
		<result column="authority_code" property="authorityCode"/>
	</resultMap>
</mapper>