<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.GalleryMapper">
	<insert id="insert" parameterType="Gallery">
		    <selectKey order="BEFORE" resultType="Integer" keyProperty="galleryNo">
      		  SELECT GALLERY_SEQ.NEXTVAL FROM DUAL
    		</selectKey>
		INSERT INTO
		GALLERY(GALLERY_NO,TITLE,ID,WRITE_DATE,CONTENT,AUTHORITY_CODE)
		VALUES
		(#{galleryNo},#{title},#{id},#{writeDate},#{content},#{authorityCode})
	</insert>

	<insert id="insertImg" parameterType="GalleryImg">
		INSERT INTO
		GALLERY_IMG(GALLERY_NO, GALLERY_IMG_NO, GALLERY_PATH)
		VALUES
		(#{galleryNo},GALLERY_IMG_SEQ.NEXTVAL,#{galleryPath})
		
	</insert>

	<select id="selectGalleryCount" resultType="integer">
		SELECT COUNT(*) FROM
		GALLERY
	</select>
	
	<select id="select" parameterType="Integer" resultMap="galleryMap">
		SELECT * FROM GALLERY WHERE GALLERY_NO=#{galleryNo}
	</select>
	
	<select id="selectGalleryImg" parameterType="integer" resultMap="galleryImgMap">
		SELECT * FROM GALLERY_IMG WHERE GALLERY_NO = #{galleryNo}
	</select>

	<select id="selectGalleryList" parameterType="Map" resultMap="galleryResultMap" >
		SELECT * FROM (
			SELECT ROWNUM R, A.* FROM(	
				SELECT G.GALLERY_NO, G.TITLE, G.ID, G.WRITE_DATE, G.CONTENT, G.AUTHORITY_CODE, 
		      	 IMG.GALLERY_IMG_NO, IMG.GALLERY_PATH
		      	 FROM GALLERY G, GALLERY_IMG IMG
		      	 WHERE G.GALLERY_NO = IMG.GALLERY_NO
		      	 ORDER BY G.GALLERY_NO DESC
			) A	)
		WHERE R BETWEEN #{startRow} AND #{count}
	</select>
	
	<resultMap id="galleryImgMap" type="GalleryImg">
		<result property="galleryNo" column="gallery_no" />
		<result property="galleryImgNo" column="gallery_img_no" />
		<result property="galleryPath" column="gallery_path" />
	</resultMap>

	<resultMap id="galleryMap" type="Gallery">
		<result property="galleryNo" column="gallery_no" />
		<result property="title" column="title" />
		<result property="id" column="id" />
		<result property="writeDate" column="write_date" />
		<result property="content" column="content" />
		<result property="authorityCode" column="authority_code" />
	</resultMap>

	<resultMap id="galleryResultMap" type="Gallery">
		<id property="galleryNo" column="g.gallery_no" />
		<result property="galleryNo" column="gallery_no" />
		<result property="title" column="title" />
		<result property="id" column="id" />
		<result property="writeDate" column="write_date" />
		<result property="content" column="content" />
		<result property="authorityCode" column="authority_code" />
		<result property="galleryImgNo" column="gallery_img_no" />
		<result property="galleryPath" column="gallery_path" />
		<collection property="galleryImgList" column="GALLERY_NO"
			select="selectGalleryImg" ofType="galleryImgMap" javaType="ArrayList" />
	</resultMap>
	
</mapper>