<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@70.12.109.96:1521:xe" />
		<property name="username" value="cygram" />
		<property name="password" value="cygram" />
<!-- 		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/> -->
<!-- 		<property name="username" value="user01"/> -->
<!-- 		<property name="password" value="sds902"/> -->
	</bean>

	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="typeAliasesPackage" value="vo" />
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath://repository/mapper/*.xml" />
	</bean>

	<bean id="session" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="factory" />
	</bean>

	<context:annotation-config />
	<context:component-scan base-package="repository" />
	<context:component-scan base-package="service" />
</beans>



